<div class="container-fluid">
    <!-- Unlock page start-->
    <div class="authentication-main">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="auth-innerright">
                    <div class="authentication-box">
                        <div class="text-center">
                            <h1>SIRPSI</h1>
                        </div>
                        <div class="card mt-4 p-4 mb-0">
                            <form class="theme-form" (ngSubmit)="on(idRolSelect.value)">
                                <div class="form-group">
                                    <label class="col-form-label">Seleccione su rol</label>
                                    <select name="" #idRolSelect class="form-select" aria-label="Default select example">
                                        <option selected [value]="0">--Seleccionar--</option>
                                        <option *ngFor = "let res of rolesList" [value]="res.roleId">{{res.name}}</option>
                                      
                                      </select>
                                </div>
                                <div class="form-group row mb-2">
                                    <div class="col-md-3">
                                        <button class="btn btn-primary" type="submit">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Unlock page end-->
</div>